<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>用户登录</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
 
<link th:href="@{/css/style2.css}" rel='stylesheet' type='text/css' />

</head>
<body>
 <!--SIGN UP-->
 <h1>用户登录</h1>
<div class="login-form">
	<div class="head-info">
		<h2>欢迎</h2>
		<!--<h3>这里可以显示提示信息</h3>-->
		<h3 style="color:red" th:text="${msg}"></h3>
		<!-- msg不为空才会显示  		<h3 style="color:red" th:text="${msg}" th:if="${not #String.isEmpty(msg)}"></h3> -->

	</div>
	<form th:action="@{/userlogin}">
		<input type="text" class="text" name="username" >
		<input type="password" name="password" >
		<input type="submit" onclick="myFunction()" value="登录" >
	</form>
	<div class="password">
		<a href="#">密码   |   注册</a>
	</div>
</div>
 
 <!--/SIGN IN-->
 <div class="copy-rights">
					<p>Template by <a href="http://www.bootstrapmb.com" target="_blank">bootstrapmb</a> </p>
			</div>

</body>
</html>
